node_modules
.next
mobile
.git
.idea
.vscode
.VSCodeCounter
*.log
coverage
dist
out
build
tmp
temp
.env
.env.local
.env.test
.env.production
IDENTIFIED_ISSUES_AND_FIX_PLANS.md
personal_documentations
PR_docs
Logs
.DS_Store
